.row-service-wrap {
    position: relative;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
  }

  .service-container {
    display: flex;
    width: max-content;
    gap: 20px;
    margin: 20px auto;
    animation: marquee 11s linear infinite;
    will-change: transform;
    float : left;
  }

  .service-container-2 {
    display: flex;
    width: max-content;
    gap: 20px;
    margin: 20px auto;
    animation: marquee-2 11s linear infinite;
    will-change: transform;
    float : left;
    margin-top: -2rem;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1 * (255px + 20px) * 8));
    }
  }

  @keyframes marquee-2 {
    0% {
      transform: translateX(calc(-1 * (255px + 20px) * 8));
    }
    100% {
      transform: translateX(0);
    }
  }

  .service-card {
    width: 255px;
    margin-bottom: 0px;
  }

  .service-box:hover {
    background-color: rgba(255, 11, 11, 0.3);
  }
  
  .service-box {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 25, 50, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .service-content {
    height: 100px;
    
  }
  
  .service-content h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    vertical-align: baseline;
    border: 0;
    padding: 0;
    font-weight: 549;
    font-family: "Poppins", sans-serif;
    color: #333;
    letter-spacing: 1px;
  }
  
  .service-content p {
    font-size: 80%;
    line-height: 1.5;
    vertical-align: baseline;
    font-weight: 500;
  }
  
  .service-box img {
    margin-bottom: 10px;
  }

  .service-img {
  width: 60px;
  height: 60px;
  }

  img {
    vertical-align: middle;
    border-style: none;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }

  @media screen and (max-width: 600px) {
    .service-container {
    width: calc((120px + 2px) * 14);
    margin-top: 0px;
    gap: 2px;
    animation: marquee_small 6s linear infinite;
    }

    .service-container-2 {
      width: calc((120px + 2px) * 14);
      margin-top: 0px;
      gap: 2px;
      animation: marquee_small-2 6s linear infinite;
      margin-top: -4rem;
      }

    @keyframes marquee_small {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-1 * (120px + 2px) * 8));
      }
    }

    @keyframes marquee_small-2 {
      0% {
        transform: translateX(calc(-1 * (120px + 2px) * 8));
      }
      100% {
        transform: translateX(0);
      }
      
    }

    .service-card {
      width: 120px;
    }

    .service-box {
      margin-bottom: -20px;
      height: 90px;
      width: 90px;
      background-color: transparent;
      box-shadow: none;
    }

    .service-box:hover {
      background-color: transparent;
    }

    .service-content {
      display: none;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px){
    .service-container {
      margin-top: 0px;
      }
    
      .service-container-2 {
        margin-top: 0px;
      }

      .service-box {
        margin-bottom: -20px;
      }  
  }